:global {
  @import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i');
  @import url('https://use.fontawesome.com/releases/v5.0.4/css/all.css');

  body, html {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Archivo', sans-serif;
    background: #c0c5ce;
    min-width: 100%;
  }

  * {
    box-sizing: border-box;
  }

  #app {
    min-width: 100%
  }
}

.container {
  min-width: 100%;
}