{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "jsx-a11y/img-has-alt": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/jsx-space-before-closing": "off",
    "no-return-assign": "off",
    "arrow-body-style": "off",
    "no-console": "off"
  },
  "globals": {
    "document": true,
    "jest": true,
    "describe": true,
    "beforeAll": true,
    "expect": true,
    "afterAll": true,
    "test": true
  }
}

