@import url('https://fonts.googleapis.com/css?family=Roboto:300|Scope+One');

.info {
  display: flex;
  width: 350px;
  background: #3B2F63;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  box-shadow:
    inset 0px -1px 0px 0px hsla(254, 36%, 33%, 1),
    inset 0px -2px 0px 0px hsla(254, 36%, 23%, 1);
}

.imageWrapper {
  flex: 0;
  padding-right: 10px;
}
    
.image {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 70px;
}

.details {
  flex: 1;

  h1 {
    font-size: 0.9em;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    color: white;
    font-family: 'Scope One', serif;
  }
  
  p {
    color: white;
    font-size: 0.75em;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
}
